<div class="col-1-1 post" data-post-name>
    <div class="content">
        <div class="col-1-1">
            <div class="content">
                <div data-post-title class="title"></div>
            </div>
        </div>
        <div class="col-1-1">
            <div class="content">
                <div data-post-date class="date"></div>
            </div>
        </div>
        <div class="col-1-1">
            <div data-post-content class="content">
            </div>
        </div>
    </div>
</div>
