body {
    font-family:Arial,Verdana,Helvetica,sans-serif;
    background-color:#EEE;
}

.posts {
}

.post {
    margin:15px auto;
    font-size:1.2em;
    border-bottom:1px solid #fff;
}

.post .title {
    font-weight:bold;
    font-size:1.8em;
}

.post .date {
    font-style:bold;
    font-size:.7em;
    color:#666;
}
