body {
    font-family:Arial,Verdana,Helvetica,sans-serif;
    background-color:#EEE;
}

.posts {
}

.post {
    font-size:1.2em;
}

.post:first-child {
    margin:30px auto 10px auto;
}

.post:not(:first-child) {
    border-top:1px solid #fff;
    margin:30px auto 10px auto;
    padding-top:30px;
}

.post .title {
    padding-left: 12px;
    border-left: 2px solid #468;
    font-weight:bold;
    font-size:1.8em;
}

.post .date {
    padding-left: 12px;
    border-left: 2px solid #468;
    font-style:bold;
    font-size:.7em;
    color:#666;
}


.post.preview {
    max-height:295px;
    overflow:hidden;
    text-overflow: clip;
}

.post pre {
    border:2px solid #468;
    border-radius:3px;
    padding:10px 5px;
    background-color:white;
}

.post img {
    box-shadow: 0px 0px 0px 3px #468;
    text-align:center;
    margin: 0px auto;
    display:block;
    border-radius: 8px;
    background-color: #468;
}

.post.preview img,
.post.preview .image-gallery {
    display:none;
}
.post .image-gallery {
    border:2px solid #468;
    border-radius:3px;

    background-color:#ccc;

    white-space:nowrap;

    text-align:center;
    vertical-align:middle;

    overflow-x: auto;
    overflow-y: hidden;

    height:30vw;
}

@media (max-width : 768px) {
    .post .image-gallery {
        border-radius:none;
        height:50vw;
    }
}

.post .image-gallery img {
    height:100%;
    display:inline;
    box-shadow:none;
    border-radius:0px;
}

.post a {
    color: #468;
}

.post a:visited {
    color: #548;
}
